*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3ff58;
}

.main-container{
width: 60%;
height: 60vh;
background: url("pic.jpg") center/cover fixed no-repeat;
border: 0.5rem solid #fff700;
border-radius: 0.5rem;
position: relative;
margin: 4rem auto;
box-shadow: 10px 10px 30px rgba(0,0,0,0.6);
}